body {
background-color: lemonchiffon;
}
h1 {
color: darkblue;
text-align: center;
font-size: 3.5em;
text-shadow: -5px -10px 15px mediumvioletred;
font-family: "bookman old style";
}
p.para::first-letter{
  font-size: 2.5em;
  color: indigo;
  font-weight: bold;
}
p {
  text-align: justify;
  margin: 10px 10px 10px 10px;
}
p.author {
  text-align: right;
  font-family: "monotype corsiva";
  color: orangered;
  font-size: 1.5em;
}
h6{
  text-align: center;
  font-size: 10px;
  color: darkblue;
}
img {
  border: groove 10px darkred;
  margin:auto;
}
